<% form_for @universidad, :html =>{ :multipart =>true, :class=>"form"} do |f| %>
<%= f.error_messages %>

<p>
	<%= f.label :nombre %>
	<%= f.text_field :nombre %>
</p>
<% if defined? (logo)%>
	<%=image_tag @universidad.logo.url(:small)%>
<%end%>
<p>
	<%= f.label :logo %>
	<%=f.file_field :logo%>  
</p>
<p>
	<%= f.label :direccion %>
	<%= f.text_field :direccion %>
</p>
<p>
	<%= f.label :estado_id %>
	<%=f.collection_select(:estado_id,Estado.all,:id, :nombre) %>
</p>
<p>
	<%= f.label "descripcion_editor", "Descripcion" %><br />
	<%= f.cktext_area :descripcion, :language => 'es'%>	 
</p>
<p>
<%= f.submit button_label %>
</p>
<% end %>