<%= link_authorized :edit, @universidad, 'Editar', edit_universidad_path(@universidad) %> 
<h2>
  <%=h @universidad.nombre %>
</h2>
<%=image_tag @universidad.logo.url(:small)%>
<div>
	<p>
	  <b>Direccion:</b>
	  <%=h @universidad.direccion %>
	</p>
	<p>
	  <b>Estado:</b>
	  <%=h @universidad.estado.nombre %>
	</p>

<b>Descripcion:</b>
<%= @universidad.descripcion %>
</div>

Grupos Estudiantiles 
<table>
<% @universidad.grupos_estudiantiles.each do |grupo_estudiantil| %>
<tr><td><%=link_to grupo_estudiantil.nombre, grupo_estudiantil%></td></tr>
<%end%>
</table>
