<% div_for noticia do %>
<h3><%= link_to noticia.titulo, actividad %></h3>
<% if permitted_to? :edit, noticia %>
<%= link_to 'Editar', edit_noticia_path(noticia) %> |
<%= link_to 'Eliminar', noticia, :confirm => 'Esta seguro?', :method => :delete %>
<%end%>
<div>
<%= noticia.descripcion %>
</div>
<p>
  <b>Direccion:</b>
  <%=h noticia.direccion %>
</p>
<p>
  <b>Grupo Estudiantil:</b>
  <%=h noticia.grupo_estudiantil.nombre %>
</p>
<%end%>