<h1>Editing noticia</h1>

<% form_for(@noticia) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </p>
  <p>
    <%= f.label "descripcion_editor", "Descripcion" %><br />
    <%= f.cktext_area :descripcion, :language => 'es'%>	
  </p>
 	<p>
    <%= f.label :grupo_estudiantil_id %><br />
    <%=f.collection_select(:grupo_estudiantil_id,GrupoEstudiantil.all,:id, :nombre) %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @noticia %> |
<%= link_to 'Back', noticias_path %>