<% content_for :head do %>  
<%= javascript_include_tag 'jquery.dataTables' %>  
<%= stylesheet_link_tag 'demo_table_jui' %>
<script type="text/javascript">
$(document).ready(function() {

	$('#usuarios').dataTable({
	 "bJQueryUI": true,
		"aoColumns": [
			null,
             { "bSortable": false },
            null,
            null,
           { "bSortable": false }
        ],
                     "sPaginationType": "full_numbers",
                     "oLanguage": {
					 "sUrl": "dataTables.spanish.txt"
			}           
	});
});
</script>
 <% end %>
<h1>Usuarios</h1>

<table id="usuarios">
<thead>
  <tr>
    <th>Login</th>
	<th>Nombre</th>
    <th>Grupo Estudiantil</th>
    <th>Rol</th>
	<th></th>
  </tr>
</thead>
<tbody>
<% @usuarios.each do |usuario| %>
  <tr>
    <td><%=link_to usuario.login, usuario %></td>
	<td><%="#{usuario.nombre} #{usuario.apellido}"%></td>
    <td></td>
    <td><%=h usuario.roles.first.name %></td>
    <td>
	<%=link_authorized :edit, usuario,'<span class="ui-icon ui-icon-pencil" title="Editar"></span>', edit_user_path(usuario)%> 
	<%= link_authorized :destroy, usuario, '<span class="ui-icon ui-icon-trash" title="Eliminar"></span>', usuario %>
	</td>
  </tr>
<% end %>
</tbody>
</table>
<br />