<% content_for :head do%>
<script type="text/javascript">
	$(function() {
		$("#user_grupo_estudiantil_nombre").autocomplete({
			source: "<%=grupos_estudiantiles_path(:format => "json")%>"
		});
	});
	</script>
<% end %>

<h1>Registro de Usuario</h1>
<% form_for @user, :html=> {:multipart=>true}  do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>
    <p>
    <%= f.label :photo %><br />
    <%= f.file_field :photo %>
  </p>
  <p>
	<%= f.label :password, f.object.new_record? ? nil : "Change password" %><br />
	<%= f.password_field :password %><br />
	</p>
	<p>
	<%= f.label :password_confirmation %><br />
	<%= f.password_field :password_confirmation %><br />
	</p>
  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>	
  </p>
  <p>
    <%= f.label :apellido %><br />
    <%= f.text_field :apellido %>	
  </p>
  <p>
    <%= f.label :cedula %><br />
    <%= f.text_field :cedula %>	
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>	
  </p>
  <p>
    <%if has_role? :admin%>
  <%= f.label :role_ids, "Roles" %><br />
<%= f.collection_select(:role_ids,Role.all,:id,:name) %><br />
</p>
<p>
<%= f.label :grupo_estudiantil_nombre %><br />
<%= f.text_field :grupo_estudiantil_nombre%>
</p>
<%end%>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
<br />