<h1>  <%="#{h @user.nombre} #{h @user.apellido}" %></h1>
<%=image_tag @user.photo.url(:small)%>

<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>
<p>
  <b>Enviar mensaje:</b>
  <%= link_to @user.login, new_mensaje_path({:receptor=>@user.login}) %>
</p>
<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Nombre:</b>
  <%=h @user.nombre %>
</p>
