<% form_for(@estudiante) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :inicial_segundo %><br />
    <%= f.text_field :inicial_segundo, :size=>1, :maxlength=>1 %>
  </p>
  <p>
    <%= f.label :apellido %><br />
    <%= f.text_field :apellido %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
<% if has_role? :admin%>
  <p>
    <%= f.label :universidad_nombre, "Universidad" %><br />
    <%= f.text_field :universidad_nombre %>
  </p>
<% end %>
  <p>
    <%= f.label :telefono %><br />
    <%= f.text_field :telefono %>
  </p>
  <p>
    <%= f.submit button_label %>
  </p>
<% end %>