<h1>Listado estudiantes</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Email</th>
    <th>Universidad</th>
    <th>Telefono</th>
  </tr>

<% @estudiantes.each do |estudiante| %>
  <tr>
    <td><%=h estudiante.nombre_completo %></td>
    <td><%=h estudiante.email %></td>
    <td><%=h estudiante.universidad_nombre %></td>
	<td><%=h estudiante.telefono %></td>
    <td><%= link_to 'Show', estudiante %></td>
    <td><%= link_to 'Edit', edit_estudiante_path(estudiante) %></td>
    <td><%= link_to 'Destroy', estudiante, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New estudiante', new_estudiante_path %>