<p>
  <b>Nombre:</b>
  <%=h @estudiante.nombre_completo %>
</p>
<p>
  <b>Email:</b>
  <%=h @estudiante.email %>
</p>

<p>
  <b>Universidad:</b>
  <%=h @estudiante.universidad_id %>
</p>

<p>
  <b>Telefono:</b>
  <%=h @estudiante.telefono %>
</p>


<%= link_to 'Edit', edit_estudiante_path(@estudiante) %> |
<%= link_to 'Back', estudiantes_path %>