<%=link_to "Enviados", mensajes_path({:bandeja=>"Enviados"})%>|<%=link_to "Recibidos", mensajes_path({:bandeja=>"Recibidos"})%>
<h1>Mensajes <%= @bandeja%> </h1>

<table>
  <tr>
	<%if @bandeja == "Enviados"%>
	<th>Para</th>
	<% else %>
	<th>De</th>
	<% end %>
	<th>Titulo</th>
    <th>Fecha</th>

  </tr>

<% @mensajes.each do |mensaje| %>
  <tr>
	<%if @bandeja == "Enviados"%>
	 <td><%=link_to mensaje.receptor.login, mensaje %></td>
	<% else%>
	<td><%=link_to mensaje.emisor.login, mensaje %></td>
	<% end%>  
	<td><%= link_to mensaje.titulo, mensaje %></td>
    
    <td><%= mensaje.created_at%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo mensaje', new_mensaje_path %>