<%content_for :head do%>
<script type="text/javascript">
	$(function() {
		$("#mensaje_receptor_login").autocomplete({
			source: "../usuarios.json",
			minLength: 1
		});
	});
	</script>
	<% end %>
<h1>New mensaje</h1>
<%=@login%>
<% form_for @mensaje do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :receptor_login %><br />
    <%= f.text_field :receptor_login%>
  </p>
  <p>
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </p>
  <p>
    <%= f.label :contenido %><br />
    <%= f.text_area :contenido %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', mensajes_path %>