<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title><%= @page_title %></title>
	<%= stylesheet_link_tag 'style' %>
	<%= stylesheet_link_tag 'css/ui-lightness/jquery-ui-1.8.2.custom' %>
	<%= javascript_include_tag "js/jquery-1.4.2.min", "js/jquery-ui-1.8.2.custom.min", "application" %>
	<%= javascript_include_tag :ckeditor %>
	<%= yield :head %> 
</head>
<body class="home blog">
	<div id="wrapper" class="hfeed">
		<div id="header">
			<div id="masthead">
				<div id="branding">
		
					</h1>
					<div id="site-description">
						<% if current_user %>
						<%=link_to "Logout", logout_path %>,	
						<%=link_to current_user.login, current_user %>
						<%else%>
						<%=link_to "Log in", login_path%>
						<%end%>
					</div>
					<%=link_to  image_tag("banner.png",:size => "940x198", :alt => "", :class =>"redondeado"), root_path%>

				</div><!-- #branding -->

<%= render :partial => "layouts/navbar" %>

	<div id="main">
		<div id="container">
			<div id="content">
			<% flash.each do |key,msg|%>
				<%= content_tag :div, msg, :class => key %>
			<% end %>
				<%= yield %>
			</div>	
		</div>
		<div id="primary" class="widget-area">
			<p><%= yield  :widget%></p>
				<%=link_to  image_tag("p.png",:size => "200x589"), root_path%>
		</div>
	</div>
	
	<div id="footer">
		<div id="colophon">
			<div id="site-info">
				<%=link_to "UNET", actividades_path()%>
			</div>
			<div id ="site-generator">
			<p>Tesis de Fuentes-Lagrange</p>
			</div>
		</div>
	</div>
	
</div>

																	</body>
																	</html>
