<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title><%= @page_title %></title>
<%= stylesheet_link_tag 'style' %>
<%= stylesheet_link_tag 'css/ui-lightness/jquery-ui-1.8.2.custom' %>
<%= javascript_include_tag "js/jquery-1.4.2.min", "js/jquery-ui-1.8.2.custom.min", "application" %>
<%= javascript_include_tag :ckeditor %>
	<%= yield :head %> 
</head>
<body class="home blog">
	<div id="wrapper" class="hfeed">
		<div id="header">
			<div id="masthead">
				<div id="branding" role="banner">
					<h1 id="site-title">
						<span>
							<div><%=link_to  image_tag("unet-blanco.png", :size => "300x100"), root_path%></div>
						</span>
					</h1>
					<div id="site-description">
						<% if current_user %>
						<%=link_to "Logout", logout_path %>,	
						<%=link_to current_user.login, current_user %>
						<%else%>
						<%=link_to "Log in", login_path%>
						<%end%>
					</div>
					<%=link_to  image_tag("path.jpg",:size => "940x198", :alt => ""), root_path%>

				</div><!-- #branding -->

				<div id="access" role="navigation">
					<div class="skip-link screen-reader-text">
						<a href="#content"title="Skip to content">Skip to content</a>
					</div>
					<div class="menu-header">
						<ul id="menu-menu-principal"class="menu">
							<li id="menu-item-37" class="menu-item menu-item-type-custom current-menu-item menu-item-home current_page_item">
								<a href="#">Actividades</a>
								<ul class="sub-menu">
									<% if permitted_to? :create, Actividad.new %>				
									<li id="menu-item-38" class="menu-item menu-item-type-post_type">
										<%=link_to "Nueva", new_actividad_url()%></li>
										<%end%>
										<% if permitted_to? :edit, Actividad.new %>
										<li id="menu-item-39" class="menu-item menu-item-type-post_type">
											<%=link_to "Lista", actividades_url()%></li>
											<%end%>
										</ul>
									</li>

									<li id="menu-item-40" class="menu-item menu-item-type-post_type">
										<a href="#">Noticias</a>
										<ul class="sub-menu">
											<% if permitted_to? :create, Noticia.new %>				
											<li><%=link_to "Nueva", new_noticia_url()%></li>
											<%end%>
											<% if permitted_to? :edit, Noticia.new %>
											<li><%=link_to "Lista", noticias_url()%></li>
											<%end%>
										</ul>
									</li>
									<li id="menu-item-41" class="menu-item menu-item-type-post_type">
										<a href="#">Grupos Estudiantiles</a>
										<ul class="sub-menu">
											<% if permitted_to? :create, Actividad.new %>				
											<li id="menu-item-38" class="menu-item menu-item-type-post_type">
												<%=link_to "Nueva", new_actividad_url()%></li>
												<%end%>
												<% if permitted_to? :edit, Actividad.new %>
												<li id="menu-item-39" class="menu-item menu-item-type-post_type">
													<%=link_to "Lista", actividades_url()%></li>
													<%end%>
												</ul>
											</li>
											<li id="menu-item-42" class="menu-item menu-item-type-post_type">
												<a href="#">Mensajes</a>
												<ul class="sub-menu">
													<% if permitted_to? :create, Actividad.new %>				
													<li id="menu-item-38" class="menu-item menu-item-type-post_type">
														<%=link_to "Nueva", new_actividad_url()%></li>
														<%end%>
														<% if permitted_to? :edit, Actividad.new %>
														<li id="menu-item-39" class="menu-item menu-item-type-post_type">
															<%=link_to "Lista", actividades_url()%></li>
															<%end%>
														</ul>
													</li>
													<li id="menu-item-40" class="menu-item menu-item-type-post_type">
														<a href="#">Foro</a>
														<ul class="sub-menu">
															<% if permitted_to? :create, Mensaje.new %>				
															<li><%=link_to "Nuevo", new_mensaje_url()%></li>
															<%end%>
															<% if permitted_to? :recibidos, GrupoEstudiantil.new %>
															<li><%=link_to "Recibidos", recibidos_mensajes_url()%></li>
															<%end%>
														</ul>
													</li>
													<li id="menu-item-41" class="menu-item menu-item-type-post_type">
														<a href="#">Universidades</a>
														<ul class="sub-menu">
															<% if permitted_to? :create, Universidad.new %>				
															<li><%=link_to "Nueva", new_universidad_url()%></li>
															<%end%>
															<li><%=link_authorized :index,:universidades, "Lista", universidades_url()%></li>
														</ul>
													</li>
													<li id="menu-item-42" class="menu-item menu-item-type-post_type">
														<a href="#">Mensajes</a>
														<ul class="sub-menu">
															<% if permitted_to? :create, User.new %>				
															<li><%=link_to "Nueva", new_user_path()%></li>
															<%end%>
															<% if permitted_to? :index, User.new %>
															<li><%=link_to "Editar", users_path()%></li>
															<%end%>
														</ul>
													</li>
												</ul>
											</div>
										</div><!-- #access -->
									</div><!-- #masthead -->
								</div><!-- #header -->


								<div id="main">

									<div id="container2">
										<div id="content" role="main">
											<%= yield %>			
										</div>
									</div>
								</div>
							</body>
							</html>
